
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="example-header" *ngIf="User">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>


<!--<button (click)="addItem()">Add Item</button>-->
<div class="example-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

   

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

   <!-- Account Number Column -->     
  <ng-container matColumnDef="Acc_no" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
    <td mat-cell *matCellDef="let element" style="cursor: pointer;" (click) = "getTranscations(element)"> {{element.Acc_no}} </td>
  </ng-container>

  <!-- Account Holder Column -->
  <ng-container matColumnDef="Acc_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Holder </th>
    <td mat-cell *matCellDef="let element"> {{element.Acc_name}} </td>
  </ng-container>

  <!-- Account type Column -->
  <ng-container matColumnDef="Acc_type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
    <td mat-cell *matCellDef="let element"> {{element.Acc_type}} </td>
  </ng-container>

  <!-- balance Column -->
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
    <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>